.top_performer_buttons__container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.top_performer_buttons__stake {
  background:
    radial-gradient(circle at 5% 110%, #FF6F4F 0%, rgba(255, 1, 221, 0) 40px),
    linear-gradient(25deg, #FF01DD 18%, rgba(255, 1, 221, 0) 51%),
    radial-gradient(ellipse at 15% 0%, #5C5CFF 0%, rgba(92, 92, 255, 0) 60%),
    radial-gradient(ellipse at 50% 50%, #14E1E2 0%, rgba(30, 208, 244, 0) 40px),
    linear-gradient(90deg, #41B7FF, #41B7FF),
    linear-gradient(90deg, rgba(255, 1, 221, 0) 20%, rgba(125, 92, 255, 0) 45%),
    linear-gradient(90deg, rgba(125, 92, 255, 0) 45%, rgba(92, 92, 255, 0) 55%),
    linear-gradient(90deg, rgba(92, 92, 255, 0) 55%, #41B7FF 100%)!important;
}

.top_performer_buttons__unstake_border {
  background: linear-gradient(to right, #FF6F4F 0%, #FF01DD 100%);
  padding: 1px;
  border-radius: 100px;
}

.top_performer_buttons__unstake {
  width: 100%;
  height: 100%;
  border-radius: 100px;
}

@media (max-width: 1799px) {
  .top_performer_buttons__container {
    flex-basis: 100%;
    flex-direction: row;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .top_performer_buttons__container {
    gap: 20px;
  }
}