.market_overview {
  background: #1A202C;
  border-radius: 24px;
  padding: 40px 30px;
  display: grid;
  grid-template-columns: 1fr auto;
  width: 100%;
  max-height: 587px;
}

.market_overview__top {
  margin-bottom: 20px;
  width: 100%;
  grid-area: 1 / span 2;
}

.market_overview__top h2 {
  font-size: 30px;
  line-height: 30px;
  font-weight: 500;
  color: #FDFCFC;
  margin-bottom: 8px;
}

.market_overview__top p {
  font-size: 16px;
  line-height: 16px;
  font-weight: 300;
  color: rgba(253, 252, 252, .5);
}

.market_overview__currencies {
  display: flex;
  align-items: flex-start;
  gap: 25px;
  margin-bottom: 25px;
  grid-area: 2 / 1;
  list-style-type: none;
}

.market_overview__currency_item {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.market_overview__circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.market_overview__circle_blue {
  background: linear-gradient(90deg, #CBB2FC 0%, #A4D1EB 54%, #80A6F8 100%);
}

.market_overview__circle_purple {
  background: linear-gradient(90deg, #B385FF 0%, #8844FC 100%);
}

.market_overview__circle_red {
  background: linear-gradient(90deg, #EA0909 0%, #AF0D02 100%);
}

.market_overview__currency_info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.market_overview__currency_name {
  font-size: 16px;
  line-height: 16px;
  color: #FFF;
  font-weight: 600;
}

.market_overview__currency_network {
  font-size: 14px;
  line-height: 14px;
  color: #4E4F56;
  font-weight: 400;
}

.market_overview__add_button {
  gap: 5px;
  padding: 10px 20px;
  border: 1px solid rgba(255, 255, 255, .16);
  margin-left: 25px;
  min-height: 43px;
}

.market_overview__add_text {
  font-size: 16px;
  line-height: 16px;
  color: #FFF;
}

.market_overview__switcher {
  grid-area: 2 / 2;
}

.market_overview__dashboard_graph {
  grid-area: 3 / span 2;
}

@media (max-width: 1799px) {
  .market_overview {
    max-width: none;
  }

  .market_overview {
    grid-column-gap: 10px;
  }
}

@media (max-width: 768px) {
  .market_overview {
    padding: 24px 15px;
  }

  .market_overview__top h2 {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 5px;
  }

  .market_overview__top p {
    font-size: 14px;
    line-height: 14px;
  }

  .market_overview__top {
    margin-bottom: 15px;
  }

  .market_overview__circle {
    width: 10px;
    height: 10px;
  }

  .market_overview__currency_name {
    font-size: 14px;
    line-height: 14px;
  }
  
  .market_overview__currency_network {
    font-size: 12px;
    line-height: 12px;
  }

  .market_overview__currencies {
    gap: 13px;
  }

  .market_overview__currency_item {
    gap: 2px;
  }

  .market_overview {
    grid-column-gap: 0;
  }
}